@import url("./tailwind.css");
@import url("./responsive.css");

.theme-bg {
  background-color: #323234;
}
.gray-bg {
  background-color: #f1f4f8;
}
.gray-color {
  color: #f1f4f8;
}
.primary-color {
  color: #ffc700;
}
.primary-bg {
  background-color: #ffc700;
}
.secondary-color {
  color: #8ceeb5;
}
.secondary-bg {
  background-color: #8ceeb5;
}
.green-bg {
  background-color: #8ceeb5;
}
.green-text {
  color: #8ceeb5;
}
.red-bg {
  background-color: #ffa6a6;
}
.red-text {
  color: #ffa6a6;
}
